#dorSlideShow{
    overflow: hidden;
}

#Dor_Full_Slider{
  position: relative; margin: 0 auto; top: 0px; left: 0px; overflow: hidden; visibility: hidden;
  width: 100%;
}
.dorNavSlider {
    position: absolute;bottom: 20px !important;
}
.slider-loading-img{
  position:absolute;display:block;top:0px;left:0px;width:100%;height:100%;
}
.dor-info-perslider {
    max-width: 100%;
    position: relative;
    margin-top: 160px;
}

.slider-content-wrapper{cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 700px; overflow: hidden;}

.product-item-image > img {
    max-height: 100%;
    max-width: 100%;
}
#Dor_Full_Slider .dorArrowLeft, #Dor_Full_Slider .dorArrowRight {
   transition: all 0.4s ease 0s;
   position: absolute;
   width: 45px;
   height: 45px;
   border:1px #333 solid;
   border-radius: 50%;
   line-height: 45px; 
   text-align: center;
   cursor: pointer;
   left: 20px;
}
#Dor_Full_Slider .dorArrowRight{
    left: auto;
    right: 20px;
}
#Dor_Full_Slider .dorArrowLeft i::before, #Dor_Full_Slider .dorArrowRight i::before {
      color: #333;
}
#Dor_Full_Slider .dorArrowLeft:hover, #Dor_Full_Slider .dorArrowRight:hover{
    background-color: #2fb5d2;
    border-color: #2fb5d2;
}
#Dor_Full_Slider .dorArrowLeft:hover i::before, #Dor_Full_Slider .dorArrowRight:hover i::before{
    color: #fff;
}
.price-slide-item {
    color: #ec6b63;
    font-size: 50px;
    font-weight: bold;
    margin-top: -20px;
}
.slider-title{margin:0 auto;}
.info-slide-load {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    text-align: left;
    width: 600px;
}
.dorNavSlider{display: block;bottom:20px !important;}

.product-item-image{
    position: absolute; top: 175px; left: 420px; width: 460px; height: 250px;margin-top: 50px;
}


.dorNavSlider > div {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 0 10px;
    position: relative;
    text-align: center;
    width: 16px;
    padding-right: 0px;padding-left: 0px;
}

.dorNavSlider > div::after {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    bottom: -3px;
    content: "";
    left: -3px;
    position: absolute;
    right: -3px;
    top: -3px;
}
.dorNavSlider > div.av, .dorNavSlider > div:hover {
    background: #2fb5d2 none repeat scroll 0 0;
}
.dorNavSlider > div.av::after,
.dorNavSlider > div:hover::after {
    border-color: #2fb5d2;
}



/******************************************************************************/


.effectSlider0 .product-item-image img{
    position: absolute; top: 20px; right: -540px;
}
.effectSlider0 .dor-slider-title{
    position: absolute; top: -88px; left: 200px;
}
.effectSlider0 .dor-slider-caption{
    position: absolute; top: 230px; left: 0px;
}
.effectSlider0 .slider-read-more{
    position: absolute; top: 500px; left: 0px;
}

.slider-content.effectSlider0 .dor-slider-title{
    width: 550px;text-align: left;left: 0px;
    color: #585e61;font-size: 20px;
    text-transform: none;top:00px;
    opacity: 0;
    font-weight: 700;

}
.slider-content.effectSlider0 .dor-slider-caption{
    width: 550px;text-align: left;left: 0px;
    color: #333;font-style: normal;
    font-weight: 700;font-size: 40px;top: 30px;
    line-height: 55px;text-transform: uppercase;
}
.effectSlider0 .dor-slider-desc{
   position: absolute; top: 100px; left: 0px; width: 550px; height: auto;opacity: 0;
}
.slider-content.effectSlider0 .slider-read-more{
    top: 215px;width: 550px;text-align: left;padding-top: 0px;
}
.desc-price-slider strong {
    font-weight: 500;
    padding-right: 5px;
    font-size: 25px;
    color: #78bf35;
}
.desc-price-slider span {
    padding-left: 5px;
    font-weight: 400;
}
.slider-content .dor-slider-price{
    top: 265px;padding-top: 0px;
}
.slider-read-more a span {
    display: inline-block;
    border: 1px #78bf35 solid;
    color: #fff;
    background-color: #78bf35;
    text-transform: uppercase;
    padding: 9px 35px 8px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 15px;
}
.slider-read-more a:nth-child(2) span {
    background: none !important;
    border: none;
    text-transform: none;
    color: #585e61;
    text-decoration: underline;
}
.slider-read-more a:nth-child(2) span::after{display: none !important;}
.slider-read-more a:hover span{
    background-color: #fff;color: #333;
}
.dor-slider-desc * {
    font-size: 18px;
    color: #000;
    line-height: 24px;
    font-weight: 300;
}

@media(max-width: 1400px) and (min-width: 1300px){
    .dor-info-perslider{
        margin-left: 60px !important;
    }
}
@media(max-width: 1299px){
    .dor-info-perslider{margin-left: -250px;}
    .dor-slider-desc * {
        font-size: 25px;
        line-height: 30px;
    }
    .slider-content.effectSlider0 .dor-slider-title{
        font-size: 25px;line-height: 30px;
    }
    .slider-content.effectSlider0 .slider-read-more{
        top: 230px;
    }
    .slider-read-more a span{
        font-size: 17px;
    }
    .slider-content.effectSlider0 .slider-read-more,
    .slider-content.effectSlider0 .dor-slider-title,
    .slider-content.effectSlider0 .dor-slider-caption,
    .effectSlider0 .dor-slider-desc{
        width: 750px;margin-left: -200px;
    }
}
@media(max-width: 991px){
    .slider-read-more a span {
        font-size: 20px;
    }
    .slider-content.effectSlider0 .slider-read-more,
    .slider-content.effectSlider0 .dor-slider-title,
    .slider-content.effectSlider0 .dor-slider-caption,
    .effectSlider0 .dor-slider-desc{
        width: 850px;
    }
}

@media(max-width: 767px){
    .dor-info-perslider{margin-left: -310px;}
    .slider-content.effectSlider0 .dor-slider-title{
        top: -30px;
    }
    .dor-slider-desc * {
        font-size: 30px;
        line-height: 35px;
    }
    .slider-content.effectSlider0 .dor-slider-caption{
        top: 10px;
    }
    .slider-content.effectSlider0 .dor-slider-title{
        font-size: 30px;line-height: 30px;
    }
    .slider-content.effectSlider0 .slider-read-more{
        top: 270px;
    }
    .effectSlider0 .dor-slider-desc{
        top: 95px;
    }
    .slider-read-more a span {
        font-size: 20px;
    }
    .slider-content.effectSlider0 .dor-slider-title,
    .slider-content.effectSlider0 .dor-slider-caption,
    .slider-content.effectSlider0 .slider-read-more,
    .effectSlider0 .dor-slider-desc{
        width: 850px;
    }
}

@media(max-width: 530px){
    .dor-info-perslider{margin-left: -330px;}
    .slider-content.effectSlider0 .dor-slider-title{
        top: -30px;
    }
    .dor-slider-desc * {
        font-size: 33px;
        line-height: 37px;
    }
    .slider-content.effectSlider0 .dor-slider-caption{
        top: 10px;
    }
    .slider-content.effectSlider0 .dor-slider-title{
        font-size: 33px;line-height: 33px;
    }
    .slider-content.effectSlider0 .slider-read-more{
        top: 270px;
    }
    .effectSlider0 .dor-slider-desc{
        top: 95px;
    }
    .slider-read-more a span {
        font-size: 28px;
        padding: 15px 30px;
        line-height: 28px;
    }
    .slider-content.effectSlider0 .slider-read-more,
    .slider-content.effectSlider0 .dor-slider-title,
    .slider-content.effectSlider0 .dor-slider-caption,
    .effectSlider0 .dor-slider-desc{
        width: 1050px;
    }
}